.dataLine {
  display: flex;
  /* border: 1px solid red; */
}

.dataLine > h2 {
  margin: 1% 2%;
  width: 31%;
  font-family: var(--font);
  /* border: 1px solid blue; */
}

.dataLine > input {
  margin: 1% 2%;
  width: 61%;
  padding: 5px;
  font-size: 16px;
  font-family: var(--font);
  border-radius: 5px;
  border: 2px solid var(--neutral-color-2);
  /* border: 1px solid green; */
}

.endButton {
  margin-top: 25px;
  width: 35%;
  padding: 10px 20px;
  color: var(--secondary-color);
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font);
}

.reject {
  background-color: var(--reject-color);
}