:root {
  --main-color: #072d69;
  --secondary-color: #feea37;
  --neutral-color: #f5f5f5;
  --neutral-color-2: #afc3f4;
  --reject-color: #cb1d1d;
  --font: "Nunito";
}

* {
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rowButtons {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.highButton {
  padding: 10px 20px;
  margin: 5px;
  color: var(--secondary-color);
  background-color: var(--main-color);
  font-size: 18px;
}